<template>
    <section class="breadcrumb">
        <span class="material-icons">filter_list</span>&nbsp;
        <b>{{ category }} - {{ country }}</b>
    </section>
</template>

<script>
import { STORAGE_KEY_CONFIG } from '@/consts/storageKeys'

export default {
    name: 'ConfigBreadcrumb',
    created() {
        const config = JSON.parse(localStorage.getItem(STORAGE_KEY_CONFIG))
        this.category = config.category
        this.country = config.country.name;
    },
    data() {
        return {
            category: '',
            country: ''
        }
    }
}
</script>

<style scoped>
.breadcrumb {
    text-transform: capitalize;
}
</style>
