<template>
  <nav class="navbar navbar-dark bg-dark mb-3 navbar-expand-sm fixed-top">
    <div class="container-fluid">
      <h4 class="navbar-brand mb-0 h1 d-flex">
        <span class="material-icons">feed</span>&nbsp;
        <span>Vue News</span>
      </h4>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <router-link class="nav-link" aria-current="page" to="/">
              <button class="btn btn-primary d-flex">
                <span class="material-icons">settings</span>
              Config
              </button>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
