<template>
  <main>
    <section class="container">
      <ConfigBreadcrumb/>
      <ul class="news-list">
        <NewsCard
            v-for="article of articles"
            :key="article.id"
            :article="article"
        />
      </ul>
    </section>
  </main>
</template>

<script>
import {getTopHeadlines} from "@/api/newsAPI";
import NewsCard from "./NewsCard.vue";
import ConfigBreadcrumb from './ConfigBreadcrumb.vue';
import {getConfig} from "../utils/config";

export default {
  components: {
    NewsCard,
    ConfigBreadcrumb,
  },
  name: "NewsList",
  async created() {
    const config = getConfig()

    if (config === null) {
      this.$router.push("/");
      return;
    }

    try {
      this.articles = await getTopHeadlines(config.country.abbr, config.category);
    } catch (error) {
      this.error = error.message;
    }
  },
  data() {
    return {
      error: "",
      articles: [],
    };
  },
};
</script>

<style scoped>
.news-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 45rem) {
  .news-list {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}
</style>