<template>
  <main class="container">
    <h4>News Configure</h4>

    <form @submit.prevent="onGetNewsSubmit" class="mb-3">
      <fieldset class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select class="form-select" v-model="selectedCategory">
          <option value="">-- Choose category --</option>
          <option v-for="category of categories" :key="category">
            {{ category }}
          </option>
        </select>
      </fieldset>

      <fieldset class="mb-3">
        <label for="country" class="form-label">Country</label>
        <select class="form-select" v-model="selectedCountry">
          <option value="">-- Choose country --</option>
          <option
            v-for="country of countries"
            :value="country"
            :key="country.abbr"
          >
            {{ country.name }}
          </option>
        </select>
      </fieldset>

      <button type="submit" class="btn btn-primary btn-lg">GET NEWS</button>
    </form>

    <section class="alert alert-danger" v-if="error">
      <h4>Hang on!</h4>
      <p class="mb-0">{{ error }}</p>
    </section>
  </main>
</template>

<script>
import { setConfig } from "@/utils/config";

export default {
  name: "NewsConfigure",
  methods: {
    onGetNewsSubmit() {
      this.error = "";

      if (!this.selectedCategory) {
        this.error = "You forgot to select a category";
        return;
      }

      if (!this.selectedCountry) {
        this.error = "You forgot to select a country";
        return;
      }
      // Know we have both! We can save and redirect
      setConfig({
        country: this.selectedCountry,
        category: this.selectedCategory,
      });
      // Redirect
      this.$router.push("/news");
    },
  },
  data() {
    return {
      error: "",
      selectedCountry: "",
      selectedCategory: "",
      categories: [
        "business",
        "entertainment",
        "general",
        "health",
        "science",
        "sports",
        "technology",
      ],
      countries: [
        {
          abbr: "us",
          name: "USA",
        },
        {
          abbr: "no",
          name: "Norway",
        },
        {
          abbr: "uk",
          name: "United Kingdom",
        },
        {
          abbr: "za",
          name: "South Africa",
        },
        {
          abbr: "se",
          name: "Sweden",
        },
      ],
    };
  },
};
</script>
